{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "workshop"],
  "root": true,
  "rules": {
    "workshop/no-double-equal": "error"
  }
}
