{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:workshop/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "workshop"],
  "root": true
}