{
  "extends": ["plugin:workshop/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "workshop"],
  "root": true,
  "rules": {
//    "workshop/task1": "error"
//    "workshop/task2": "error"
//    "workshop/task3": "error"
//    "workshop/task4": "error"
  }
}
